
        body:before { 
            content: "Error at line 0 in /home/ben/Projects/sheetloaf/test/samples/styles/file-with-package-import.scss";
            display: table;
            background-color:#cc0000;
            color:white;
            border-radius:5px;
            margin-bottom:5px;
            padding:5px;
            font-family:sans-serif
        }
        body:after { 
            content: "@use 'pkg:bootstrap';  ----- Can't find stylesheet to import.";
            display: table;
            background-color:#0e70b0;
            color:white;
            border-radius:5px;
            padding:5px;
            margin-bottom: 5px;
            font-family:sans-serif
        }
        body * { display: none; }
    