
        body:before { 
            content: 'Error from <_FileSpan: from <FileLocation: 151 file:///home/ben/Projects/sheetloaf/test/samples/styles/file-with-error.scss:9:14> to <FileLocation: 151 file:///home/ben/Projects/sheetloaf/test/samples/styles/file-with-error.scss:9:14> "">';
            display: table;
            background-color:#cc0000;
            color:white;
            border-radius:5px;
            margin-bottom:5px;
            padding:5px;
            font-family:sans-serif
        }
        body:after { 
            content: "expected "{".";
            display: table;
            background-color:#0e70b0;
            color:white;
            border-radius:5px;
            padding:5px;
            margin-bottom: 5px;
            font-family:sans-serif
        }
        body * { display: none; }
    